<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>774254715570-0kbifoc9jrchj5ef1d0vqbfpisscf2cg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.774254715570-0kbifoc9jrchj5ef1d0vqbfpisscf2cg</string>
	<key>API_KEY</key>
	<string>AIzaSyCv8rblFSQo7xyMA8YYqk6GtEfJEUUBrgU</string>
	<key>GCM_SENDER_ID</key>
	<string>774254715570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hamkkenuri.metrotogether</string>
	<key>PROJECT_ID</key>
	<string>metro-together-b3751</string>
	<key>STORAGE_BUCKET</key>
	<string>metro-together-b3751.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774254715570:ios:0206e3621075deb2c6dfab</string>
</dict>
</plist>